@font-face {
    font-family: "amplesoft";
    src: url(./fonts/AMPLESOFT.OTF);
    font-weight: 400;
}
@font-face {
    font-family: "amplesoft";
    src: url(./fonts/AMPLESOFT-EXTRALIGHT.OTF);
    font-weight: 100;
 }
 @font-face {
    font-family: "amplesoft";
    src: url(./fonts/AMPLESOFT-LIGHT.OTF);
    font-weight: 200;
 }
 @font-face {
    font-family: "amplesoft";
    src: url(./fonts/AMPLESOFT-MEDIUM.OTF);
    font-weight: 600;
 }

@font-face {
   font-family: "amplesoft";
   src: url(./fonts/AMPLESOFT-BOLD.OTF);
   font-weight: 800;
}

:root{
    --v-bkg-color1: #1d212a;
    --v-bkg-color2: #212832;
    --v-front-color-menu: #dff0f6;
    --v-front-color1: #00adb4;
    --v-front-color2: #393d46;
    --v-primary-font: "amplesoft"; 
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
    color: var(--v-front-color1);
    font-family: var(--v-primary-font);
    font-weight: 200;
    font-size: 22px;
}
body{
    background-color: var(--v-bkg-color1);

}
html{
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}


/* --------------------------------------------------------- */
/* H E A D E R  */
/* --------------------------------------------------------- */
header{
    display:flex;
    justify-content: space-between;
    height: 60px;
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    align-items: center;
    z-index: 20;
}
header h1{
    font-weight: 800;
    margin-left: 10px;
}

.menu ul{
    
    list-style: none;
}
.menu li{
    display:inline-block;
    
}
.menu a{
    padding: 8px 20px;
    color: var(--v-front-color-menu);
    font-weight: 100;
    transition:ease 200ms;
    text-decoration: none;
}
.menu a:hover{
    filter:drop-shadow(3px 2px 2px #00adb4);
}
.menu a:visited{
    color: var(--v-front-color-menu);
}
.download-cv{
    display:inline-block;
    margin-right: 10px;
}
.download-cv button{
    display:flex;
    align-items: center;
    padding: 6px 10px 6px 15px;
    cursor: pointer;
    background-color: var(--v-bkg-color2);
    color: var(--v-front-color1);
    border-radius: 8px;
    border: 1px solid var(--v-front-color1);
}
.download-cv a{
    font-size: .8rem;
    text-decoration: none;
}
.download-image{
    width: 20px;
    /* padding: 4px 8px 2px; */
    margin: 0 3px 0 15px;
    background-color: none;
}



/* --------------------------------------------------------- */
/* M A I N  */
/* --------------------------------------------------------- */
main{
    position:relative;
    display:flex;
    justify-content: space-evenly;
    height:408px;
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    align-items: center;
    padding: 40px;
    background-image: url("./img/waves2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    border-bottom: 4px solid var(--v-front-color1);
    /* background-color: var(--v-bkg-color2); */
}
.hello{
    color: var(--v-front-color-menu);
}
main h1{
    color: var(--v-front-color-menu);
    font-size: 150px;
    font-weight: 800;
    opacity: 70%;
}
main h2{
    color: var(--v-front-color-menu);
    font-size: 42px;
    font-weight: 400;
}
.hello span{
    color:#00adb4;
    font-size: 42px;
    font-weight: 400;
}
main h3{
    color: var(--v-front-color-menu);
    font-size: 20px;
    font-weight: 200;
}
.bar{
    height:4px;
    width:200px;
    border-top: 2px solid var(--v-front-color1);
    border-bottom: 2px solid var(--v-front-color1);;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* PIC  */
.pic{
    width: 305px;
}
.pic img{
    animation: ease flip-horizontal 5s infinite;
    transition:ease 200ms;
    position:relative;
    margin-bottom: -301px;
    z-index: 4;
}
.pic img:hover{
    animation-play-state: paused;
}
@keyframes flip-horizontal{
    to{
        transform: rotateY(1turn);;
    }
}

/* --------------------------------------------------------- */
/* FOLLOW ASIDE  */
/* --------------------------------------------------------- */
.follow-aside{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    height:300px;
    width:50px;
}
.follow-text{
    transform: rotate(90deg);
}
.follow-text p{
    color: var(--v-front-color-menu);
    font-size: 18px;
    font-weight: 200;
    width:80px;
}
.follow-bar{
    height:80px;
    width:4px;
    border-left: 2px solid var(--v-front-color1);
    border-right: 2px solid var(--v-front-color1);;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}
.follow-icons{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
}
.follow-icons img{
    width:24px;
    margin:8px;
    transition: ease 500ms;
}
.follow-icons img:hover{
    transition: ease 500ms;
    transform:scale(1.1);
}
.citar{
    display:flex;
    flex-direction: column;
    position:relative;
    width:100%;
    max-width: 1000px;
    height: 180px;
    margin:0 auto;
    background-color: var(--v-bkg-color2);
    overflow-x: hidden;
}
.citar q{
    position:relative;
    left: 60px;
    top: 60px;
    color: #dff0f6;
    font-weight: 200;
    font-size: 16px;
}
.citar i{
    position:relative;
    left: 65px;
    top: 35px;
    color: #dff0f6;
    font-size: 14px;
    font-weight: 200;
}



/* --------------------------------------------------------- */
/* W H A T  */
/* --------------------------------------------------------- */
.what, .what-title{
    display:flex;
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    justify-content: center;
}
.what{
    background-color: #1d212a;
}
.what-title h1, .what-title h2 {
    color: #dff0f6;
    font-weight: 600;
    margin-top: -14px;
    z-index: 10;
    margin-left: 65px;
    width: 259px
}
.what-title h2{
    color: #393d46;
    font-weight: 800;
    z-index: 9;
    font-size: 58px;
    margin-left: -353px;
    margin-top: -37px;
}
.what-thumbs{
    display:flex;
    width: 100%;
    max-width: 1000px;
    height: 350px;
    margin:0 auto;
    justify-content: space-evenly;
}
.thumb-block{
    display:flex;
    flex-direction: column;
    width:200px; 
    height:200px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #212832;
    overflow-y: hidden;
    box-shadow: inset 2px 4px rgb(48, 48, 48);
    cursor: pointer;
    
}
/* .thumb-block:hover .knowledges-popup{
    animation: slide-up forwards ease 240ms;
} */
.thumb-block img{
    width: 80px;
}
.thumb-block p{
    font-stretch: condensed;
    font-size: 14px;
}
.knowledges-popup{
    filter:drop-shadow(1px 1px 10px #00adb4);
    background-color: #393d46f5;
    transition: ease 200ms;
    opacity:0;
    background-image: linear-gradient(#00adb4, #212832), url('./img/knowledges-thumb.webp');
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-size: cover;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
}
.knowledges-popup p{
    display:block;
    color:#dbebeb;
    font-size: large;
}
.thumb-block:hover .knowledges-popup{
   animation: slide-up forwards ease 340ms;
}

@keyframes slide-up{
    0%{
        height:0; width: 0;
        transform: translateY(100px);
        opacity:0;
    }
    40%{
        height:0; width: 30px;
    }
    100%{
        height:200px;
        transform:translateY(0px); 
        opacity:1;
    }
}



/* --------------------------------------------------------- */
/* S K I L L S  */
/* --------------------------------------------------------- */
.skills, .skills-title{
    display:flex;
    width:100%;
    max-width: 1000px;
    height: 50px;
    margin:0 auto;
    justify-content: center;
}
.skills{
    background-image: linear-gradient(90deg, var(--v-front-color2),var(--v-bkg-color1));
    background-color: #484a51;
}
.skills-title h1, .skills-title h2 {
    color: #dff0f6;
    font-weight: 600;
    margin-top: -14px;
    z-index: 10;
    margin-left: 47px;
}
.skills-title h2{
    color: #343944;
    font-weight: 800;
    z-index: 9;
    font-size: 58px;
    margin-left: -100px;
    margin-top: -37px;
}
.skills-title h1:hover{
    transition: ease 200ms;
    text-shadow: 2px 2px 6px rgb(22, 22, 22);
}
.skills-description{
    background-image: linear-gradient(90deg, var(--v-front-color2),var(--v-bkg-color1));
    display:flex;
    width:100%;
    max-width:1000px;
    height: 340px;
    margin:0 auto;
    line-height: 2;
    background-color: #484a51;
}
.skills-description p{
    font-size: 16px;
}
.skills-img{
    width:250px;
}
.skills-img img{
    margin-top: -50px;
    width: 235px;
}
.skills-names{
    position:relative;
    margin: 40px 15px 0 115px;
}
.skills-gauges{
    position: relative;
    margin-top: 40px;
    line-height: 2;
}
.gauge-background{
    background-color: #212832;
    width:200px;
}
.percent p{
    padding: 4px;
    text-align: right;
    color:#00adb4;
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}
.s-html p{
    animation:fill-html 6s infinite;
    width:80%;
    color:#1d212a;
    background-color: #00adb4;
}
@keyframes fill-html{
    0%{
        width:0;
    }
    30%{
        width: 80%;
    }
    100%{
        width:80%;
    }
}
.s-css p{
    animation:fill-css 6s infinite;
    width:60%;
    color:#1d212a;
    background-color: #00adb4;
}
@keyframes fill-css{
    0%{
        width:0;
    }
    32%{
        width: 60%;
    }
    100%{
        width:60%;
    }
}
.s-js p{
    animation:fill-js 6s infinite;
    width:50%;
    color:#1d212a;
    background-color: #00adb4;
}
@keyframes fill-js{
    0%{
        width:0;
    }
    34%{
        width: 50%;
    }
    100%{
        width:50%;
    }
}
.s-photoshop p{
    animation:fill-photoshop 6s infinite;
    width:80%;
    color:#1d212a;
    background-color: #00adb4;
}
@keyframes fill-photoshop{
    0%{
        width:0;
    }
    40%{
        width: 80%;
    }
    100%{
        width:80%;
    }
}
.s-after p{
    animation:fill-after 6s infinite;
    width:70%;
    color:#1d212a;
    background-color: #00adb4;
}
@keyframes fill-after{
    0%{
        width:0;
    }
    45%{
        width: 70%;
    }
    100%{
        width:70%;
    }
}
.s-premiere p{
    animation:fill-premiere 6s infinite;
    width:50%;
    color:#1d212a;
    background-color: #00adb4;
}
@keyframes fill-premiere{
    0%{  width:0;  }
    50%{  width: 50%; }
    100%{  width:50%;  }
}



/* --------------------------------------------------------- */
/* R E C E N T   W O R K S  */
/* --------------------------------------------------------- */
.recent-works, .recent-title{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width: 1000px;
    /* height: 650px; */
    margin:0 auto;
    padding-bottom: 40px;
    justify-content: center;
}
.recent-works{
    background-image: url(./img/background-2.jpg);
    background-image: radial-gradient(var(--v-bkg-color2),var(--v-bkg-color1)), url(./img/background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}
.recent-title{
    height: 20px;
}
.recent-title h1, .recent-title h2 {
    color: #dff0f6;
    position: relative;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    top: 30px;
}
.recent-title h2{
    position:relative;
    color: #464d5a;
    font-weight: 800;
    text-align: center;
    z-index: 9;
    font-size: 58px;
    top: -20px;
}
.recent-title h1:hover{
    transition: ease 200ms;
    text-shadow: 2px 2px 6px rgb(22, 22, 22);
}
.recent-thumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    max-width: 1000px;
    margin-top: 10px;
    justify-content: center;
}
.recent-thumbs-block{
    width: 200px;
    height: 200px;
    margin: 15px 15px;
    border: 1px solid #00adb4;
    border-radius: 4px;
    overflow: hidden;
}
.recent-thumbs-block:hover{
    transition: ease 200ms;
    border: 1px solid whitesmoke;
}
.recent-thumbs-block img{
    width: 200px;
}
.recent-thumbs-block p{
    width: 200px;
    position: relative;
    height: 28px;
    padding: 3px 10px;
    color: #00adb4;
    background-color: rgb(33, 40, 50,.8);
    top: 0px;
    opacity:0;
}
.recent-thumbs-block:hover p{
    animation:forwards slide 299ms ;
}
@keyframes slide{
    from{ opacity:0; transform: translateY(36px); }
    to{  opacity:1; transform:translateY(0px);  }
}

#mais{
    text-align: right;
    padding: 20px 60px;
    cursor: pointer;
    z-index: 20;
}
.mais-body{
    background-color: #1d212a;
    background-image: none;
}
.mais-container, .mais-container-web{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:0 auto;
    margin-bottom: 1rem;
}
.mais-container img{
    transition:ease 240ms;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    padding:5px;
}
.mais-container img:hover{
    transform:scale(1.01);
    border-radius: 5px;
    filter:drop-shadow(1px 2px 6px #00adb4);
}
.mais-body h2{
    margin: 1.5rem;
    text-align: center;
}
.mais-body h3{
    margin: 1.5rem;
    font-size: .8rem;
    border-bottom: 1px solid #00adb4;
}
.mais-container-web a, .mais-container-web img{
    width: 60%;
    position:relative;
    margin:1rem auto;
    text-decoration: none;
}
.mais-container-web img{
    transition:ease 250ms;
    width:100%;
}
.mais-container-web img:hover{
    transform:scale(1.01);
    filter:drop-shadow(1px 1px 6px #00adb4)

}
.mais-container-web a p{
    text-decoration: none;
    text-align: center;
    font-size: .8rem;
}

/* --------------------------------------------------------- */
/* C O N T A C T   M E  */
/* --------------------------------------------------------- */
.contact, .contact-title{
    display:flex; flex-direction: column;
    position:relative;
    width:100%; height: 200px;
    max-width: 1000px;
    margin:0 auto;
    justify-content: center;
}
.contact{
    background-image: radial-gradient(var(--v-bkg-color2),var(--v-front-color1));
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}
.contact-title{
     height: 7px;
     top:-47px;
}
.contact-title h1, .contact-title h2 {
    color: #dff0f6; font-weight: 600; text-align: center;
    position: relative;
    z-index: 10;
    top:5px;
}
.contact-title h2{
    position: relative;
    color: rgb(48 48 48); font-weight: 800; font-size: 58px;
    text-align: center;
    top:-48px;
    z-index: 9;
}
.contact-title h1:hover{
    transition: ease 200ms;
    text-shadow: 2px 2px 6px rgb(22, 22, 22);
}
.contact-email{
    text-align: center;
    display: inline-block; position: relative;
    justify-content: center;
    cursor:pointer;
    top: 0px;
}
.contact-phone{
    text-align: center;
    display: inline-block; position: relative;
    justify-content: center;
    cursor:pointer;
    top: 0px;
}
.contact-email p{
    text-shadow: 1px 2px #343944 , -1px -2px #1d212a;
    display: inline-block;
    position: relative;
    top: 0px; left: 0px;
    cursor:pointer;
}
.contact-phone p{
    text-shadow: 1px 2px #343944 , -1px -2px #1d212a;
    display: inline-block;
    position: relative;
    left: 0px; top: 0px;
    cursor:pointer;
}
.contact-email img{
    display: inline-block;
    position: relative;
    width: 20px; height: 20px;
    top: 2px;
}
.contact-phone a{
    text-decoration: none;
}
.contact-phone img{
    display: inline-block;
    position: relative;
    width: 20px; height: 20px;
    top: 2px;
}
@media(max-width:680px){
    .top{ margin: 0px; padding: 10px; width:100%; 
        display:flex; flex-direction: column;
        align-items: center;
        height: 860px;  }
    .hello{  width:90%;  }
    .hello h1{ font-size: 84px; left:0px;  }
    .hello h2{ font-size: 44px; }
    .citar{ height: 172px; }
    .citar q{ left:19px;top:24px;width:90%; }
    .citar i{ left:40px;top:14px;width:90%;  }
    .skills-img { display: none; }
    .skills-description{ justify-content: center; }
    .skills-names{ margin-left:15px; }
    .pic img{ display:block; align-self: center;
        left:-30px; top:0; margin:0 auto; }
    .follow-aside{ margin: 0 auto; }
    .what-thumbs{ 
        flex-wrap: wrap; height: 780px; margin-bottom: 90px; }
    .follow-aside{
        display: flex;
        margin:0; height: 60px; width: 150px;
        justify-content: space-between; }
    .follow-text{ transform: rotate(0deg); }
    .recent-works{ padding-bottom: 40px; }
    .recent-thumbs-block, .recent-thumbs-block img{
        width:170px; height: 170px;  }
    .contact { height: 200px; color:#212832;  }
    .contact img{ display:none;  }
    .contact-title{ top:-43px;  }
    .contact-title h1{ top: 4px; }
    .contact-email, .contact-email p, .contact-phone, .contact-phone p{
        left:0 ; top: 0; color:#00adb4;  }
    .contact-email p{ top: -7px; }
}
@media(max-width:600px){
    .what-thumbs{ height: 486px; }
    .mais-container img{
        width:180px; height:180px;
    }
    .mais-container-web { 
        padding:0px; width:100%; margin:0 auto;
        display:flex; flex-direction: column;
        justify-content: center;
    }
    .mais-container-web a, .mais-container-web img{
        margin:20px; width:90%;height:200px;
        display:block; margin:20px;
    }
    .mais-container-web a{
        display:flex; flex-direction: column; justify-content: center;
        width: 90%; height: 233px;
    }
}
@media(max-width:400px){
    .what-thumbs{ height: 760px;  }
    .recent-thumbs-block, .recent-thumbs-block img{
        width:140px; height: 140px;  }
}
